*{
    /* color: rgb(52, 82, 154); */
    margin: 0;
    padding: 0;
    /* font-family: 'Dosis', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Fredoka One', cursive; */
    font-family: 'Comic Neue', cursive;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
    /* header */
header{
    display: flex;
    padding-left: 40px;
    padding-right:  40px;
    /* background-color: rgb(229, 227, 227); */
    background-color: white;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    
}
/* #checkbox{
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    /* transition: background 0.2s linear;
}
*.dark {
    background-color: #292c35;
  }
  .checkbox {
    opacity: 0;
    position: absolute;
  }
  
  .label {
    width: 50px;
    height: 26px;
    background-color:#111;
    display: flex;
    border-radius:50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
  }
  
  .ball {
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
  }
  
  /*  target the elemenent after the label*/
  /* .checkbox:checked + .label .ball{
    transform: translateX(24px);
  }
  
  .fa-moon {
    color: pink;
  }
  
  .fa-sun {
    color: yellow;
  } */
.logo{
    padding: 10px;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: black;
}
span{
    color: #CD6B40;
}
.menu{
    display: flex;
    padding-top: 20px;
    padding-right:20px ;
}
.menu li{
    list-style: none;
    margin-left: 20px;
    
}
.menu li a{
    text-decoration: none;
    font-size: 18px;
    color: black;
    /* font-weight: bold; */
}
.menu li a:hover{
    color: #CD6B40;
}
.menu .cv a{
    text-decoration: none;
    margin-left: 20px;
    /* border: 2px solid rgb(221, 146, 177); */
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    color: black;
    /* font-weight: bold; */
    background-color: #CD6B40;
}
.menu .cv a:hover{
    background-color: #7d2a07;
    color: white;
}
    /* home content */
.home_content{
    padding-left: 130px;
    padding-top: 200px;
    /* background-color: rgb(229, 227, 227); */
    display: flex;
    /* background-color: black; */
    justify-content: space-between;
    /* background-image: url(images/about1.png); */
    background: #F5EBEB;
    /* background-size: cover; */
    
}
.reseau_soc{
    position: fixed;
}
.reseau_soc img{
    margin-left: -120px;
    height: 40px;
    width: 40px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}
.paragraph .text1, .paragraph .text2, .paragraph .text3{
    font-weight: bold; 
}
.home_content .text1{
    font-size: 26px;
    margin-bottom: 20px;
    color: #CD6B40;
}
.home_content .text2{
    font-size: 45px;
    margin-bottom: 20px;
    width: 550px;
    
}
.home_content .text3{
    font-size: 35px;
    margin-bottom: 60px;
}
.home_content .btn_aboutme{
    text-decoration: none;
    padding: 10px 80px;
    border: 2px solid #CD6B40;
    border-radius: 20px;
    font-size: 20px;
    margin-left: 110px;
    color: black;
    font-weight: bold;
}
.home_content a:hover{
    /* background-color: rgb(255, 227, 239); */
    background-color: #CD6B40;
}
.imag img{
    height: 500px;
    width: 400px;
    margin-top: -120px;
}
    /* content about */
.content_about{
    display: flex;
    gap: 150px;
    padding: 100px 150px 40px 40px;
    background-color: #E4D0D0;
    /* background-image: url(images/about.png); */
    /* background-size: cover; */
}
.content_about img{
    height: 450px;
    width: 350px;
    border-radius: 45%;
    margin-left: 50px;
}
.paragraph_about h5{
    font-size: 20px;
    padding-bottom: 20px;
    padding-top: 30px;
}
.paragraph_about h1{
    margin-bottom: 20px;
    font-size: 40px;
    color: #CD6B40;
}
.paragraph_about p{
    font-size: 16px;
    text-align: justify;
    margin-bottom: 40px;
}
.paragraph_about a{
    text-decoration: none;
    padding: 10px 80px;
    border: 2px solid #CD6B40;
    border-radius: 20px;
    font-size: 20px;
    color: black;
    font-weight: bold;
}
.paragraph_about a:hover{
    background-color: #CD6B40;
}
    /* services */
#services{
    background-color: #F5EBEB;
}
.title_services{
    text-align: center;
    padding-top: 60px;
    margin-bottom: 60px;
    font-size: 20px;
}
.title_services p{
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
    color: #CD6B40;
}
.blocks{
    display: flex;
    gap: 30px;
    margin-left: 150px;
    margin-right: 120px;
    padding-bottom: 40px;
}
.blocks h3{
    color: #CD6B40;
}
.block1, .block2, .block3{
    border-radius: 20px;
    background-color: #E4D0D0;
    height: 320px;
    width: 300px;
    padding: 30px;
}
.blocks :hover{
    background-color: #d2967c;
}
.icon_block{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-bottom: 20px;
}
.icon_block h3{
    padding-top: 14px;
}
.icon_block img{
    height: 60px;
    width: 60px;
}
.block1 p, .block2 p, .block3 p{
    margin-bottom: 30px;
    text-align: justify;
    font-size: 16px;
}
.block1 a, .block2 a, .block3 a{
    padding-left: 80px;
    color: #CD6B40;
    font-weight: bold;
}
.block1 a:hover, .block2 a:hover, .block3 a:hover{
    color: white;
}
    /* skills */
#skills{
    padding-top: 60px;
    padding-bottom: 60px;
    /* background-image: url(images/about.png);
    background-size: cover; */
    background-color: #E4D0D0;
}
.title_skills{
    text-align: center;
    margin-bottom: 60px;
}
.title_skills p{
    margin-top: 20px;
    font-weight: bold;
}
#global_skills{
    display: flex;
    gap: 40px;
    justify-content: center;
}
#name_skills p{
    margin-top: 15px;
    margin-bottom: 50px;

}
.row_num{
    text-align: center;
    margin-left: -80px;
}
#row{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.row_90{
    height: 10px;
    width: 530px;
    /* border: 1px solid; */
    border-radius: 20px;
    background-color: #CD6B40;
}
.row_10{
    height: 10px;
    width: 70px;
    border-left: none;
    margin-left: -15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(229, 229, 229);
}
.row_75{
    height: 10px;
    width: 430px;
    /* border: 1px solid; */
    border-radius: 20px;
    background-color: #792805;
}
.row_25{
    height: 10px;
    width: 170px;
    border-left: none;
    margin-left: -15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(229, 229, 229);
}
.row_95{
    height: 10px;
    width: 570px;
    /* border: 1px solid; */
    border-radius: 20px;
    background-color: #3f2316;
}
.row_5{
    height: 10px;
    width: 30px;
    border-left: none;
    margin-left: -15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(229, 229, 229);
}
.row_80{
    height: 10px;
    width: 500px;
    /* border: 1px solid; */
    border-radius: 20px;
    background-color: #d18765;
}
.row_20{
    height: 10px;
    width: 100px;
    border-left: none;
    margin-left: -15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(229, 229, 229);
}
/* Contact */
#contact{
    padding-top: 60px;
    background-color: #F5EBEB;
}
#contact h1{
    text-align: center;
}
.icon img{
    height: 50px;
    width: 50px;
}
.contact_content{
    display: flex;
    padding: 40px;
    gap: 100px;
}
.icon{
    display: list-item;
    list-style: none;
    margin-left: 130px;
}
.sous_icon{
    display: flex;
    margin-bottom: 40px;
}
.sous_icon p{
    margin-top: 15px;
    color: gray;
}
.sous_icon img{
    margin-right: 40px;
}
/* .icon p{
    margin-bottom: 40px;

} */
.input p{
    /* margin-left: 200px; */
    text-align: center;
    font-weight: bold;
}
input{
    width: 500px;
    height: 30px;
    border: 1.5px solid #d9997e;
    border-radius: 20px;
    margin-bottom: 30px;
    background-color: #d9997e;
}
textarea{
    width: 500px;
    height: 150px;
    border: 1.5px solid #d9997e;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 10px;
    background-color: #d9997e;
}
.input a{
    float: right;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 20px;
    font-size: 16px;
    color: black;
    font-weight: bold;
    background-color: #d9997e;
}
.input a:hover{
    background-color: #6a2b10;
}
footer{
    text-align: center;
    height: 80px;
    padding-top: 20px;
    font-size: 14px;
}
footer p{
    margin-bottom: 20px;
}
/* @media screen and (min-width: 200px) {
    #home, #about, #services, #skills, #contact{
        width: 90%;
    }
} */